@media screen and (max-width: 1200px) {
    .header,
    .header-about,
    .header-service,
    .header-cableado,
    .servicio__clientes {
        padding: 0rem 5rem;
    }

    .header__info {
        width: calc(100% - 5rem)
    }

    .header__content {
        width: 30%;
    }

    .hero {
        padding: 5rem 0;
    }

    .hero__title {
        font-size: 6.5rem;
        line-height: 7rem;
    }

    .banner {
        padding: 5rem;
    }

    .experience__title,
    .experience__info,
    .experience__counts,
    .hero__title,
    .servicio__title {
        width: 65%;
    }

    .banner__about {
        padding: 5rem;
    }

    .banner__about-img {
        width: 100%;
    }

    .banner__about-list {
        margin-top: 5rem;
        width: 100%;
    }

    .banner__services {
        padding: 5rem;
    }

    .banner__service-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 30rem);
    }

    .card-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .card-2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .card-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .card-4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .card-5 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .banner__porfolio-content {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas para pantallas medianas */
    }

    .banner__scroll {
        width: calc(100% - 10rem);
        margin: 5rem auto;
        padding: 0;
    }

    .banner__scroll-3d {
        position: absolute;
        bottom: 0;
        width: 50%;
        max-width: 40rem;
    }

    .scroll__logos {
        width: 50%;
    }

    .scroll__img {
        max-height: 8rem;
    }

    .banner__portfolio {
        padding: 5rem;
    }

    .banner__contact {
        padding: 5rem;
    }

    .about__info,
    .personal-info,
    .personal-img {
        width: 100%;
    }

    .about__img-container {
        margin: 0 auto;
        width: 60%;
    }

    .mv-card {
        width: 90%;
        padding: 3rem 0;
    }

    .card__header {
        margin: 1rem 0;
    }

    .card__body {
        padding: 0 2rem;
    }

    .servicio {
        padding: 5rem;
    }
    
    .servicio__cont-img {
        flex: 1 60rem;
    }

    .servicio__cont-info {
        padding-left: 0rem;
    }

    .servicio__standar-content {
        margin: 5rem auto;
    }

    .clientes__img{
        margin: 5rem;
    }

}

@media screen and (max-width: 1000px) {
    .nav__desktop {
        width: 100%;
        display: none;
    }

    .nav__mobile {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 5rem 0;
    }

    .nav__mobile-logo {
        width: 50%;
        z-index: 1;
    }

    .nav__mobile-icon {
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .nav-bars {
        font-size: 5rem;
        z-index: 1;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

    .nav-bars:hover {
        color: var(--color-llamativo);
    }

    .banner__about-text {
        font-size: 3rem;
    }

    .banner__experience {
        background:
            linear-gradient(to left, transparent 0%, rgba(12, 16, 20) 50%),
            url('../img/bg-1.jpg');
    }

    .experience__title,
    .experience__info,
    .experience__counts {
        width: 95%;
    }

    .experience__info {
        width: 70%;
        flex-wrap: wrap;
        font-size: 3rem;
    }

    .experience__years-cont,
    .experience__projects-cont,
    .experience__clients-cont {
        font-size: 5rem;
    }

    .experience__years-text,
    .experience__projects-text,
    .experience__clients-text {
        font-size: 2.5rem;
    }

    .banner__scroll {
        width: calc(100% - 5rem);
    }

    .banner__scroll-3d {
        position: absolute;
        bottom: 0;
        width: 50%;
        max-width: 25rem;
    }

    .scroll__logos {
        width: 100%;
    }

    .scroll__img {
        max-height: 8rem;
    }

    .form__left {
        flex-grow: 1;
        max-width: 100%;
        max-height: 100%;
    }

    .form__right {
        margin-top: -3rem;
        flex-grow: 1;
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 3rem;
    }

    .banner_portfolio-title,
    .service-banner__title {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .banner__porfolio-content {
        grid-template-columns: 1fr;
        /* 1 columna en pantallas móviles */
    }

    .banner-service{
        padding: 5rem;
    }

    .service-banner{
        flex-direction: column-reverse;
    }

    .service-banner__cont,
    .service-banner__cont-img {
        width: 100%;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .clientes__img{
        width: fit-content;
        height: auto;
        max-height: 5rem;
    }

}

@media screen and (max-width: 720px) {

    .header,
    .header-about,
    .header-service,
    .header-cableado,
    .banner,
    .banner__about,
    .banner__services,
    .banner__scroll,
    .banner__portfolio,
    .banner__contact,
    .banner-service,
    .servicio,
    .servicio__details,
    .servicio__clientes {
        padding: 2rem;
    }

    .hero__title {
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 3rem;
    }

    .btn-transparent,
    .btn-contacto {
        width: 100%;
    }

    .banner__experience {
        background:
            linear-gradient(to left, transparent 0%, rgba(12, 16, 20) 100%),
            url('../img/bg-1.jpg');
    }

    .experience__title {
        width: 100%;
        font-size: 3rem;
    }

    .experience__info,
    .card__title {
        width: 100%;
        font-size: 2.5rem;
    }

    .experience__counts {
        width: 100%;
        justify-content: space-between;
    }

    .experience__years,
    .experience__projects,
    .experience__clients {
        width: 30%;
    }

    .experience__years-cont,
    .experience__projects-cont,
    .experience__clients-cont {
        font-size: 3.5rem;
    }

    .experience__years-text,
    .experience__projects-text,
    .experience__clients-text {
        font-size: 1.2rem;
    }

    .banner__about-title {
        font-size: 3rem;
    }

    .banner__about-list-item {
        flex-wrap: wrap;
    }

    .banner__service-title,
    .about-title,
    .mv-title,
    .personal-title,
    .service-banner__title,
    .services__title,
    .servicio__title,
    .servicio__subtitle,
    .clientes__title {
        font-size: 3rem;
    }

    .banner__service-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 50rem);
    }

    .card-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .card-2 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .card-3 {
        grid-column: 1 / 3;
        grid-row: 3 / 3;
    }

    .card-4 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .card-5 {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }

    .banner__scroll {
        background: linear-gradient(90deg, rgba(59, 143, 217, 0.8) 0%, rgba(29, 29, 29, 0) 100%);
        border-radius: 2rem;
    }

    .banner__scroll-title {
        font-size: 3rem;
    }

    .banner__scroll-3d {
        position: absolute;
        bottom: 0;
        width: 60%;
        max-width: 60rem;
    }

    .scroll__img {
        min-height: auto;
        max-height: 7rem;
        margin: 0 2rem;
    }

    .banner__contact-title {
        font-size: 3rem;
    }

    .about__img-container {
        width: 100%;
    }

    .card__text {
        font-size: 1.5rem;
    }

    .services__grid {
        grid-template-columns: 1fr;
    }
    
    .clientes__img{
        max-height: 5rem;
    }

    .footer {
        width: 100%;
        padding: 3rem;
    }

    .footer__info-logo,
    .footer__links {
        width: 100%;
        margin-bottom: 5rem;
    }

    .footer__contact {
        width: 100%;
    }

}