/* Definicion de variales */
:root {
    --blanco-claro: #F0F1F2;
    --gris-bg: #1d1d1d;
    --negro-fuerte: #0b0b0c;
    --azul-fuerte: #04132B;
    --azul-medio: #202f53;
    --azul-claro: #3B8FD9;
    --color-llamativo: #f28b05;
    --color-transparent: transparent;

    --text-negro: #222222;
    --text-gris-claro: #555;
    --text-gris-claro: #888;

    --font-poppins: "Poppins", Helvetica, sans-serif;
    --font-gruppo: "Gruppo", sans-serif;
    --font-syn: "Syncopate", sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

/* Estilos generales */
html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--font-poppins);
    font-size: 1.5rem;
    background-color: var(--gris-bg);
    color: var(--blanco-claro);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-title);
}

/* LAYOUT */
.layout {
    position: relative;
    width: 100%;
    height: auto;
}

/* Header */
.header {
    position: relative;
    width: 100%;
    min-height: 90rem;
    background: url(../img/16406291_rm373batch2-04_11zon.webp) center center / cover no-repeat;
    background-color: var(--color-transparent);
    color: var(--blanco-claro);
    transition: all 300ms ease-in-out;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header::before {
    position: absolute;
    content: "";
    background: linear-gradient(0deg, rgba(4, 19, 43, 1) 0%, rgba(59, 143, 217, 0) 100%);
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: none;
    z-index: 0;
}

.header__info {
    position: relative;
    width: calc(100% - 20rem);
    margin: 0 auto;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    border-bottom: 0.1rem solid var(--blanco-claro);
}

.header__content {
    position: relative;
    display: flex;
    align-items: center;
    width: 20%;
    color: var(--color-llamativo);
    z-index: 1;
}

.header__social-icon {
    cursor: pointer;
    z-index: 1;
    transition: all 300ms ease-in-out;
}

.header__social-icon:hover {
    color: var(--color-llamativo);
}

.header__text {
    color: var(--blanco-claro);
    font-size: 1.5rem;
    margin-left: 2rem;
}

.header__social-net {
    font-size: 1.5rem;
    display: flex;
    gap: 3rem;
}

.header__navbar {
    width: 100%;
    height: 13rem;
    display: flex;
    align-items: center;
    padding: 0 10rem;
}

.navbar__options {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
}

.navbar__list {
    width: 15rem;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

.navbar__list:hover,
.search__icon:hover {
    color: var(--color-llamativo);
}

.header__search {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.search__contacto {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: 0.2rem solid var(--blanco-claro);
    color: var(--blanco-claro);
    border-radius: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

.search__contacto:hover {
    background-color: var(--color-llamativo);
    border: 0.2rem solid var(--blanco-claro);
    color: var(--blanco-claro);
}

/* Hero */
.hero {
    width: 100%;
    height: calc(100vh - 23rem);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
}

.hero__info {
    position: relative;
    width: 100%;
    height: auto;
    color: var(--blanco-claro);
    background: var(--color-transparent);
}

.hero__title {
    position: relative;
    font-size: 9rem;
    font-family: var(--font-roboto);
    font-weight: bold;
    line-height: 10rem;
    padding: 0rem 50rem 5rem 0;
}

.hero__subtitle {
    font-size: 2rem;
    font-family: var(--font-poppins);
    font-weight: 100;
}

.btn-transparent {
    position: relative;
    margin-top: 5rem;
    padding: 1rem 3rem;
    width: 30%;
    font-size: 1.5rem;
    border: 0.2rem solid var(--blanco-claro);
    color: var(--blanco-claro);
    border-radius: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-align: center;
    font-size: 2rem;
    z-index: 1;
}

.btn-transparent:hover {
    background-color: var(--color-llamativo);
    border: 0.2rem solid var(--blanco-claro);
    color: var(--blanco-claro);
}

.hero__frase {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.frase__text {
    text-align: end;
}

.hero__img-cont {
    position: relative;
    border-radius: 1rem;
    width: 60%;
    height: auto;
}

.hero__img-cont::before {
    content: '';
    position: absolute;
    top: -5rem;
    left: -10rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(4, 19, 43, 0) 0%, rgba(59, 143, 217, 1) 100%);
    z-index: 0;
    /* Envía el fondo detrás */
    border-radius: 1rem;
    /* O ajusta según tu diseño */
}

.hero__img-top {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
}

/* Banner */
.banner {
    width: 100%;
    height: auto;
    /* Ajusta la altura */
    padding: 5rem 10rem;
}

.banner__experience {
    display: block;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to left, transparent 0%, rgba(29, 29, 29, 1) 80%),
        url('../img/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    border-radius: 2rem;
    padding: 5rem 0;
}

.experience__title {
    display: block;
    width: 50%;
    font-family: var(--font-roboto);
    font-size: 5rem;
    font-weight: 700;
    border-bottom: .2rem solid var(--color-llamativo);
}

.experience__info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 5rem;
    font-size: 2rem;
    font-family: var(--font-gruppo);
}

.experience__counts {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}

.experience__years,
.experience__projects,
.experience__clients {
    width: 25%;
    text-align: center;
    padding: 1rem;
    backdrop-filter: blur(1rem);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
}

.experience__years-cont,
.experience__projects-cont,
.experience__clients-cont {
    font-family: var(--font-roboto);
    font-size: 4rem;
    /* Tamaño del texto */
    font-weight: bold;
    /* Resalta el número */
    text-align: center;
    /* Centra el texto */
    color: var(--blanco-claro);
    /* Color del texto */
}

.experience__years-text,
.experience__projects-text,
.experience__clients-text {
    font-family: var(--font-gruppo);
}

/* Banner about */
.banner__about {
    width: 100%;
    height: auto;
    padding: 5rem 10rem;
    position: relative;
}

.banner__about-info {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.banner__about-title {
    margin-bottom: 5rem;
    text-align: center;
    font-family: var(--font-roboto);
    font-weight: bold;
    font-size: 5rem;
}

.banner__about-img {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
}

.banner__about-img::before {
    content: '';
    position: absolute;
    top: 1rem;
    /* Ajusta según tu diseño */
    left: 1rem;
    width: 90%;
    height: 90%;
    background: #fff;
    box-shadow: 0 .8rem .2rem rgba(0, 0, 0, 0.2);
    transform: rotate(-5deg);
    z-index: -1;
}

.banner__about-img--img {
    margin: 0 auto;
    display: block;
    width: 85%;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
}

.banner__about-list {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.banner__about-list-item {
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.banner__about-text {
    font-size: 2rem;
    font-family: var(--font-gruppo);
    color: var(--blanco-claro);
}

.banner__about-icon {
    background-color: var(--color-llamativo);
    font-size: 2rem;
    padding: 3rem;
    border-radius: 50%;
    color: var(--blanco-claro);
}

.banner__about-list-item:hover {
    background-color: var(--blanco-claro);
}

.banner__about-list-item:hover .banner__about-text {
    color: var(--gris-bg);
}

/* Banner services o portfolio */
.banner__services {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0rem 10rem 5rem 10rem;
}

.banner__services-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.banner__service-title {
    display: inline-block;
    font-family: var(--font-roboto);
    font-size: 5rem;
}

.line-color {
    display: inline-block;
    margin: 0 auto;
    width: 20%;
    height: .1rem;
    background-color: var(--color-llamativo);
}

.banner__service-btn {
    display: inline-block;
    position: relative;
    left: 0;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: 0.2rem solid var(--blanco-claro);
    color: var(--blanco-claro);
    border-radius: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-align: center;
    font-size: 2rem;
}

.banner__service-btn:hover {
    background-color: var(--color-llamativo);
    border: 0.2rem solid var(--blanco-claro);
    color: var(--blanco-claro);
}

.banner__service-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(0, 26rem));
    gap: 1rem;
}

.banner__service-card {
    position: relative;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
    overflow: hidden;
}

.service-card__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms ease-in-out;
}

.service-card__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2rem 1rem;
    overflow: hidden;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    background: rgb(4, 19, 43);
    background: linear-gradient(180deg, rgba(1, 3, 7, 0.5032387955182073) 0%, rgba(1, 3, 7, 1) 100%);
    text-align: center;
    transition: top 500ms ease-in-out;
}

.service-card__title {
    margin-bottom: .5rem;
    font-family: var(--font-roboto);
    font-size: 2rem;
    transition: margin-top 600ms;
}

.service-card__btn {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--blanco-claro);
    background-color: var(--color-llamativo);
    border-radius: 5rem;
    text-align: center;
    padding: .5rem 1.5rem;
}

.banner__service-card:hover .service-card__img {
    transform: scale(1.2);
}

.banner__service-card:hover .service-card__overlay {
    top: 0;
}

.banner__service-card:hover .service-card__title {
    margin-top: 0;
}

.service-card__text {
    font-family: var(--font-gruppo);
    font-size: 1.8rem;
}

.card-1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.card-2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.card-3 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.card-4 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.card-5 {
    grid-column: 4/5;
    grid-row: 2/3;
}

/* Cassusel de logoss */
.banner__scroll {
    position: relative;
    margin: 5rem auto;
    width: calc(100% - 20rem);
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background: linear-gradient(90deg, rgba(59, 143, 217, 0.8) 0%, rgba(29, 29, 29, 0) 80%);
    border-radius: 2rem;
}

.banner__scroll-title {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 5rem;
    text-align: right;
    font-family: var(--font-roboto);
    font-size: 5rem;
    border-bottom: 1px solid var(--color-llamativo);
}

.banner__scroll-3d {
    position: absolute;
    bottom: 0;
    width: 50%;
    max-width: 60rem;
}

.scroll__logos {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 75%;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}


.scroll__content {
    white-space: nowrap;
    animation: animate 50s linear infinite;
}

.scroll__img {
    max-width: fit-content;
    min-height: auto;
    max-height: 10rem;
    margin: 0 3rem;
    transition: .5s;
    cursor: pointer;
    display: inline-block;
}

.scroll__img:not(:hover) {
    filter: grayscale(100%);
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll__img:hover {
    transform: scale(1.08);
}

/* Portafolio o nuestros trabajos */
.banner__portfolio {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5rem 10rem;
}

.banner__portfolio-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.banner_portfolio-title {
    margin-bottom: 5rem;
    display: inline-block;
    font-family: var(--font-roboto);
    font-size: 5rem;
    border-bottom: 1px solid var(--color-llamativo);
}

.banner__portfolio-btn {
    display: inline-block;
    position: relative;
    left: 0;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: 0.2rem solid var(--blanco-claro);
    color: var(--blanco-claro);
    border-radius: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-align: center;
    font-size: 2rem;
}

.banner__portfolio-btn:hover {
    background-color: var(--color-llamativo);
    border: 0.2rem solid var(--blanco-claro);
    color: var(--blanco-claro);
}

.banner__porfolio-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas para pantallas grandes */
    gap: 1.5rem;
}

.banner__portfolio-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

.banner__portfolio-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mantén la proporción de las imágenes */
    transition: transform 0.3s ease-in-out;
}

.banner__portfolio-item:hover .banner__portfolio-item-img {
    transform: scale(1.2);
    /* Efecto hover */
}


.footer{
    width: 100%;
    padding: 10rem 10rem;
    background-color: var(--negro-fuerte);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__info{
    width: 33%;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo__footer{
    width: 50%
}